![openclassrooms](https://s3.eu-west-1.amazonaws.com/course.oc-static.com/courses/6204541/1+HnqdJ-5ofxiPP9HIxdNdpw.jpeg)

# Créez vos premiers arrays avec Numpy

Tout au long de ce cours, nous allons nous mettre dans la peau d’une personne travaillant  dans un service data au sein d'une banque. Plus précisément, vous travaillez pour la filière gérant les différents prêts. L’objectif sera d’utiliser les connaissances acquises sur les librairies Python pour aider l’agence dans différentes tâches.

Pour cette première tâche, nous avons à notre disposition les revenus de 10 clients de notre banque. Vous aurez à utiliser les différentes manipulations présentées dans ce chapitre pour sélectionner certains revenus selon une condition spécifique et effectuer diverses opérations.

In [1]:
import numpy as np

Considérons les revenus mensuels suivants :

In [2]:
liste = [1800, 1500, 2200, 3000, 2172, 5000, 1400, 1200, 1100, 1300]

A partir de ces revenus, créez un array que vous nommerez `revenus` :

In [3]:
revenus = np.array(liste)
display(revenus)

array([1800, 1500, 2200, 3000, 2172, 5000, 1400, 1200, 1100, 1300])

Maintenant, créez un nouvel array `haut_revenus` dans lequel vous sélectionnerez l'ensemble des revenus supérieurs ou égal à 3000€ :

In [4]:
haut_revenus = revenus[revenus>=3000]
display(haut_revenus)

array([3000, 5000])

Il est à présent temps de calculer quelques indicateurs :
- calculez dans un premier temps la somme des revenus **annuelle**. Pour rappel, les revenus listés ci dessus sont mensuels.
- calculez ensuite la moyenne des revenus des 10 clients

In [6]:
somme = revenus.sum() * 12
print("La somme des revenus annuelle est :", somme, "€")

La somme des revenus annuelle est : 248064 €

In [ ]:
moyenne = revenus.mean()
print("La moyenne des revenus mensuelle est :", moyenne, "€")

La moyenne des revenus mensuelle est : 2067.2 €

Un de nos clients (dont les revenus mensuels s'élevaient jusque là à 1400€) vient de nous annoncer qu'il venait d'obtenir une promotion. Grâce à cette dernière, il a gagné 200€ sur son salaire mensuel. Effectuez cette modification au sein de votre array revenus.

In [ ]:
print("Array avant :", revenus)

revenus[revenus == 1400] = 1700
print("Array après :", revenus)

Array avant : [1800 1500 2200 3000 2172 5000 1400 1200 1100 1300]
Array après : [1800 1500 2200 3000 2172 5000 1700 1200 1100 1300]

La modification a bien été effectuée. 

Pour expliciter un peu plus cette ligne de code :
- `revenus[revenus == 1400]` vient sélectionner l'ensemble des éléments qui sont strictement égals à 1400€ (donc ici le seul qui nous intéresse)
- la suite vient modifier cet élement par la nouvelle valeur (ici 1700)